
.floating-box {
    background-color: green;

    width: 50px;
    margin: 25px;
    padding: 25px;
    border: 25px solid green;
    text-align: center;
    display: inline-block;
    line-height: 200%;

}


